In [38]:
import pandas as pd
filename = './webapp/samples/57385_v1-full.tsv'
filename = './56878_v1-full_wc.tsv'
df = pd.read_csv(filename, delimiter='\t', header=2)

df.insert(allow_duplicates=True, loc = 13, value = 0, column = 'allele_frequency_%_corrected')
df.insert(allow_duplicates=True, loc = 14, value = 0, column = 'zygosity')

print(df['allele_frequency_%'].unique())
# delete entries with multiple allele_frequencies

corr_freq = df.loc[:, ['allele_frequency_%']]


bases = ['TAAAAA=26.57,TAAAAAAT=36.36,TAAAAAT=37.06','A=12.56,AA=36.93','TGTT=5.23,TTG=8.31,TTGT=86.46','A=0.00,AT=100.00','TGGGG=31.14,TGGGGA=68.35', 'A=0.00,AT=100.00',
         'AAAT=10.48,AA=39.52,AAT=45.16,AT=4.84', 'C=33.16,CCTG=0.26,CTG=0.00', 'TAAAAA=51.20,TAAAAAAT=22.49,TAAAAAT=0.00,TAAACAAAT=26.32']

mask = corr_freq.isin(bases)
print(mask.loc[mask['allele_frequency_%'] == True].index)
print(df.shape)
df.drop(mask.loc[mask['allele_frequency_%'] == True].index, inplace = True)
print(df.shape)
corr_freq = df.loc[:, ['allele_frequency_%']]

corr_freq = corr_freq.astype('float')

corr_freq = corr_freq.apply(lambda x: 100 - x)

df['allele_frequency_%_corrected'] = corr_freq
df.iloc[:, [1,2,3,10,11,12,13,14,15]].head()
len(df.columns)

['50.25' '45.75' '100.00' '49.50' '99.75' '42.75' '53.75' '50.00' '54.89'
 '43.36' '48.25' '98.25' '40.25' '48.75' '49.25' '99.50' '98.74' '49.75'
 '50.75' '47.50' '51.50' '52.31' '48.36' '51.75' '46.75' '48.50' '46.00'
 '46.87' '48.73' '39.75' '43.72' '99.25' '98.75' '44.54' '46.50' '52.26'
 '50.50' '47.87' '98.15' '57.73' '46.26'
 'TAAAAA=26.57,TAAAAAAT=36.36,TAAAAAT=37.06' '92.31' '92.17' '92.24'
 '90.74' '48.00' '98.59' '54.09' '99.71' '52.01' '53.14'
 'A=12.56,AA=36.93' '99.00' 'TGTT=5.23,TTG=8.31,TTGT=86.46' '46.12'
 '53.25' '42.92' '53.00' '47.00' '51.51' '51.21' '47.10' '50.15' '51.13'
 '55.25' 'A=0.00,AT=100.00' '97.49' 'TGGGG=31.14,TGGGGA=68.35' '99.49'
 '56.97' '52.75' '57.25' '45.50' '51.82' '49.12' '44.25' '45.25' '53.63'
 '98.24' '52.88' '44.22' '49.00' '51.25' '51.88' '49.62' '52.00' '45.31'
 '52.91' '54.25' '99.48' '53.13' '54.50' '89.47' '49.07' '88.72' '55.81'
 '45.73' '58.15' '54.57' '60.25' '54.41' '44.58' '43.25' '47.75' '99.04'
 '98.42']
Index([62, 77, 81, 98, 106], dtype='int64')
(177, 57)
(172, 57)

57

In [37]:
# code to check string length and drop rows with more than 5 chars
import re
filename = './56878_v1-full_wc.tsv'
df = pd.read_csv(filename, delimiter='\t', header=2)
corr_freq = df.loc[:, ['allele_frequency_%']]
drop_index = []

for index,value in corr_freq['allele_frequency_%'].items():
    val = re.search('[ATGCatgc=]', value)
    if val is not None:
        print(index)
        drop_index.append(index)

df.drop(drop_index, inplace = True)
df.shape
len(df.columns)

62
77
81
98
106

55

In [65]:
df_snp = df[df['type'] == 'SNV']
homozygous = df_snp['allele_frequency_%_corrected'].map(lambda x: 'homozygous' if x < 10 else 'heterozygous' )
df_snp['zygosity'] = homozygous
df.update(df_snp)

/var/folders/pt/vcfrx50j7vzg3gkz0bt7ykdr0000gn/T/ipykernel_21326/1153009908.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_snp['zygosity'] = homozygous

In [66]:
cols = [1,2,10,11,12,13,14]
df.iloc[170::, cols]

,type,ref,allele_coverage,allele_ratio,allele_frequency_%,allele_frequency_%_corrected,zygosity
175,SNV,G,"G=3,A=187","G=0.0158,A=0.9842",98.42,1.58,homozygous
176,SNV,A,"A=0,G=400","A=0.0,G=1.0",100.00,0.00,homozygous

In [67]:
df.iloc[1:5,cols]

,type,ref,allele_coverage,allele_ratio,allele_frequency_%,allele_frequency_%_corrected,zygosity
1,SNV,G,"G=217,C=183","G=0.5425,C=0.4575",45.75,54.25,heterozygous
2,SNV,A,"A=0,G=398","A=0.0,G=1.0",100.00,0.00,homozygous
3,SNV,C,"C=202,T=198","C=0.505,T=0.495",49.50,50.50,heterozygous
4,SNV,G,"G=1,A=396","G=0.0025,A=0.9975",99.75,0.25,homozygous

In [68]:

df_indel = df[df['type'] == 'INDEL']

In [69]:
zygosity = df_indel['allele_frequency_%_corrected'].map(lambda x: 'homozygous' if x < 20 else 'heterozygous')
print(zygosity)
df_indel['zygosity'] = zygosity
df.update(df_indel)
df.iloc[[9,15,42,151],cols]

9      heterozygous
15       homozygous
42       homozygous
79       homozygous
109      homozygous
122    heterozygous
138      homozygous
151      homozygous
166    heterozygous
Name: allele_frequency_%_corrected, dtype: object

/var/folders/pt/vcfrx50j7vzg3gkz0bt7ykdr0000gn/T/ipykernel_21326/1824082228.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indel['zygosity'] = zygosity

,type,ref,allele_coverage,allele_ratio,allele_frequency_%,allele_frequency_%_corrected,zygosity
9,INDEL,C,"C=226,CT=173","C=0.5664,CT=0.4336",43.36,56.64,heterozygous
15,INDEL,GT,"GT=0,G=396","GT=0.0,G=1.0",100.00,0.00,homozygous
42,INDEL,C,"C=0,CAA=396","C=0.0,CAA=1.0",100.00,0.00,homozygous
156,SNV,A,"A=0,G=396","A=0.0,G=1.0",100.00,0.00,homozygous

In [70]:
df.iloc[1:5,cols]

,type,ref,allele_coverage,allele_ratio,allele_frequency_%,allele_frequency_%_corrected,zygosity
1,SNV,G,"G=217,C=183","G=0.5425,C=0.4575",45.75,54.25,heterozygous
2,SNV,A,"A=0,G=398","A=0.0,G=1.0",100.00,0.00,homozygous
3,SNV,C,"C=202,T=198","C=0.505,T=0.495",49.50,50.50,heterozygous
4,SNV,G,"G=1,A=396","G=0.0025,A=0.9975",99.75,0.25,homozygous

In [71]:
df.to_csv('./processed.tsv', sep='\t')