In [64]:
import pandas as pd

df = pd.read_csv('56878_v1-full_wc.tsv', delimiter='\t', header=2)

df.insert(allow_duplicates=True, loc = 13, value = 0, column = 'allele_frequency_%_corrected')
df.insert(allow_duplicates=True, loc = 14, value = 0, column = 'zygosity')


# delete entries with multiple allele_frequencies

corr_freq = df.loc[:, ['allele_frequency_%']]

bases = ['TAAAAA=26.57,TAAAAAAT=36.36,TAAAAAT=37.06','A=12.56,AA=36.93','TGTT=5.23,TTG=8.31,TTGT=86.46','A=0.00,AT=100.00','TGGGG=31.14,TGGGGA=68.35', 'A=0.00,AT=100.00']
mask = corr_freq.isin(bases)
print(df.shape)
df.drop(mask.loc[mask['allele_frequency_%'] == True].index, inplace = True)
print(df.shape)
corr_freq = df.loc[:, ['allele_frequency_%']]

corr_freq = corr_freq.astype('float')

corr_freq = corr_freq.apply(lambda x: 100 - x)

df['allele_frequency_%_corrected'] = corr_freq
df.iloc[:, [1,2,3,10,11,12,13,14,15]].head()

(177, 57)
(172, 57)

,type,ref,length,allele_coverage,allele_ratio,allele_frequency_%,allele_frequency_%_corrected,zygosity,maf
0,SNV,C,1,"C=199,T=201","C=0.4975,T=0.5025",50.25,49.75,0,0.074
1,SNV,G,1,"G=217,C=183","G=0.5425,C=0.4575",45.75,54.25,0,0.246
2,SNV,A,1,"A=0,G=398","A=0.0,G=1.0",100.00,0.00,0,0.098
3,SNV,C,1,"C=202,T=198","C=0.505,T=0.495",49.50,50.50,0,0.251
4,SNV,G,1,"G=1,A=396","G=0.0025,A=0.9975",99.75,0.25,0,0.097

In [65]:
df_snp = df[df['type'] == 'SNV']
homozygous = df_snp['allele_frequency_%_corrected'].map(lambda x: 'homozygous' if x < 10 else 'heterozygous' )
df_snp['zygosity'] = homozygous
df.update(df_snp)

/var/folders/pt/vcfrx50j7vzg3gkz0bt7ykdr0000gn/T/ipykernel_21326/1153009908.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_snp['zygosity'] = homozygous

In [66]:
cols = [1,2,10,11,12,13,14]
df.iloc[170::, cols]

,type,ref,allele_coverage,allele_ratio,allele_frequency_%,allele_frequency_%_corrected,zygosity
175,SNV,G,"G=3,A=187","G=0.0158,A=0.9842",98.42,1.58,homozygous
176,SNV,A,"A=0,G=400","A=0.0,G=1.0",100.00,0.00,homozygous

In [67]:
df.iloc[1:5,cols]

,type,ref,allele_coverage,allele_ratio,allele_frequency_%,allele_frequency_%_corrected,zygosity
1,SNV,G,"G=217,C=183","G=0.5425,C=0.4575",45.75,54.25,heterozygous
2,SNV,A,"A=0,G=398","A=0.0,G=1.0",100.00,0.00,homozygous
3,SNV,C,"C=202,T=198","C=0.505,T=0.495",49.50,50.50,heterozygous
4,SNV,G,"G=1,A=396","G=0.0025,A=0.9975",99.75,0.25,homozygous

In [68]:

df_indel = df[df['type'] == 'INDEL']

In [69]:
zygosity = df_indel['allele_frequency_%_corrected'].map(lambda x: 'homozygous' if x < 20 else 'heterozygous')
print(zygosity)
df_indel['zygosity'] = zygosity
df.update(df_indel)
df.iloc[[9,15,42,151],cols]

9      heterozygous
15       homozygous
42       homozygous
79       homozygous
109      homozygous
122    heterozygous
138      homozygous
151      homozygous
166    heterozygous
Name: allele_frequency_%_corrected, dtype: object

/var/folders/pt/vcfrx50j7vzg3gkz0bt7ykdr0000gn/T/ipykernel_21326/1824082228.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_indel['zygosity'] = zygosity

,type,ref,allele_coverage,allele_ratio,allele_frequency_%,allele_frequency_%_corrected,zygosity
9,INDEL,C,"C=226,CT=173","C=0.5664,CT=0.4336",43.36,56.64,heterozygous
15,INDEL,GT,"GT=0,G=396","GT=0.0,G=1.0",100.00,0.00,homozygous
42,INDEL,C,"C=0,CAA=396","C=0.0,CAA=1.0",100.00,0.00,homozygous
156,SNV,A,"A=0,G=396","A=0.0,G=1.0",100.00,0.00,homozygous

In [70]:
df.iloc[1:5,cols]

,type,ref,allele_coverage,allele_ratio,allele_frequency_%,allele_frequency_%_corrected,zygosity
1,SNV,G,"G=217,C=183","G=0.5425,C=0.4575",45.75,54.25,heterozygous
2,SNV,A,"A=0,G=398","A=0.0,G=1.0",100.00,0.00,homozygous
3,SNV,C,"C=202,T=198","C=0.505,T=0.495",49.50,50.50,heterozygous
4,SNV,G,"G=1,A=396","G=0.0025,A=0.9975",99.75,0.25,homozygous

In [71]:
df.to_csv('./processed.tsv', sep='\t')